@model Incubadora.ViewModels.LoginVM
@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-CompatiblSalve" content="IE=edge">
    <title>Incubadora - Forgot Password</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="https://kit.fontawesome.com/93c5f0292a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="~/Content/css/account/login.css" rel="stylesheet" />
    <link rel="icon" href="@Url.Content("~/Img/ut-logo.ico")" />
    @Styles.Render("~/Bundles/css")
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#">
                <b>Iniciar sesión</b>
            </a>
        </div>
        <div class="box">
            <div class="box-body login-box-body">
                <p class="login-box-msg">
                    Te enviaremos un correo electrónico con la información necesaria para recuperar tu contraseña
                </p>
                @using (Html.BeginForm("ForgotPassword", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Ingresa tu correo electrónico", required = "" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        @Html.ValidationMessage("error_login", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="pull-right btn btn-primary btn-block" type="submit">Iniciar sesión</button>
                        </div>
                    </div>
                }
                @*<div class="social-auth-links text-center margin-bottom">
                    <p>- O -</p>
                    <a class="btn btn-primary btn-block" href="#">Iniciar sesión con Facebook</a>
                    <a class="btn btn-danger btn-block" href="#">Iniciar sesión con Google</a>
                </div>*@
            <p class="">
                @*<a href="/Account/Login" class="btn btn-dropbox"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Iniciar sesión</a>*@
                @*<a href="#" class="btn btn-dropbox"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Olvidaste tu Contraseña?</a>*@
            </p>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Bundles/js")
</body>
</html>
