@model Incubadora.ViewModels.AspNetUsersVM
@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-CompatiblSalve" content="IE=edge">
    <title>Registro - Incubadora</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="https://kit.fontawesome.com/93c5f0292a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="~/Content/css/account/emprendedor-registro.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <link rel="icon" href="@Url.Content("~/Img/ut-logo.ico")" />
    <script src="~/Content/js/account/validate-emprendedor-registro.js"></script>
    @Styles.Render("~/Bundles/css")
</head>
<body>
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript", "Error")" />
    </noscript>
    <div class="container-fluid ps-md-0">
        <div class="row d-flex row-no-gutters">
            <div class="col-md-6 d-none d-md-flex bg-image"></div>
            <div class="col-md-6 bg-light form-col">
                <div class="login d-flex align-items-center py-5">
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row d-flex">
                            <div class="col-md-10 col-lg-7 mx-auto">
                                <h2 class="text-center margin-bottom">Registro</h2>
                                <p class="text-muted margin-bottom">Ingresa tus datos para crear una cuenta</p>
                                @using (Html.BeginForm("Create", "Emprendedor"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Nombre de usuario", id = "txtUsername" , maxlength = "20", required = "" })
                                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                                <div class="help-block text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", id = "txtEmail", maxlength = "30", required = "" })
                                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                <div class="help-block text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                @Html.PasswordFor(model => model.PasswordHash, new { @class = "form-control", placeholder = "Contraseña", id = "txtPassword", maxlength = "20", required = "" })
                                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                                                <div class="help-block text-danger"></div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-12">
                                            <div class="form-group">
                                                @Html.ValidationMessage("error_login", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="pull-right btn btn-primary" type="submit" id="btnRegistro">Registrarme</button>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="social-auth-links text-center">
                                            <p>- O -</p>
                                            <a class="btn btn-primary btn-block" href="#">Iniciar sesión con Facebook</a>
                                            <a class="btn btn-danger btn-block" href="#">Iniciar sesión con Google</a>
                                        </div>
                                        <p class="">
                                            <a href="/Account/Login">Ya tengo una cuenta, iniciar sesión</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
    @*<div class="login-box">
            <div class="login-logo">
                <a href="#">
                    <b>Registro</b>
                </a>
            </div>
            <div class="box">
                <div class="box-body login-box-body">
                    <p class="login-box-msg">
                        Ingresa los siguientes datos para crear una cuenta
                    </p>
                    @using (Html.BeginForm("Create", "Emprendedor"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Nombre de usuario", required = "" })
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", required = "" })
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            @Html.PasswordFor(model => model.PasswordHash, new { @class = "form-control", placeholder = "Contraseña", required = "" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="pull-right btn btn-primary">Registrarme</button>
                            </div>
                        </div>
                    }
                    <div class="social-auth-links text-center margin-bottom">
                        <p>- O -</p>
                        <a class="btn btn-primary btn-block" href="#">Iniciar sesión con Facebook</a>
                        <a class="btn btn-danger btn-block" href="#">Iniciar sesión con Google</a>
                    </div>
                    <p class="">
                        <a href="/Account/Login">Ya tengo una cuenta, iniciar sesión</a>
                    </p>
                </div>
            </div>
        </div>*@
    @Scripts.Render("~/Bundles/js")
</body>
</html>
