@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="@Url.Content("~/Img/ut-logo.ico")" />
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        Incubadora
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/Content/css/datatables.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/93c5f0292a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/datatables.min.js"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>*@

    @Styles.Render("~/Bundles/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .d-flex {
            display: flex;
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .break-word {
            word-break: break-word;
        }

        .flex-column {
            flex-direction: column;
        }

        .justify-content-center {
            justify-content: center;
        }

        .align-items-center {
            align-items: center;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
            </section>

            <section class="content">
                @RenderBody()
            </section>
        </div>
        <div class="main-footer">
            <div class="row d-flex flex-wrap">
                <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
                    <img src="~/Img/uttt-cardenal-banner-2.png" class="img-responsive" alt=""/>
                    @*<img src="~/Img/uttt-git.jpg" class="img-circle" width="101" height="100" alt=""/>*@
                </div>
                <div class="col-md-6 text-gray d-flex flex-column">
                    <h4 class="text-center">Contacto</h4>
                    <ul class="nav">
                        <li class=""><i class="fas fa-envelope margin-r-5"></i>belen.aguilar@uttt.edu.mx</li>
                        <li class=""><i class="fas fa-phone-alt margin-r-5"></i>0000000000</li>
                        <li class="">
                            <i class="fas fa-map-marker-alt margin-r-5"></i>
                            Av. Universidad Tecnológica No. 1000, C.P. 42830, El Carmen, Tula de Allende, Hidalgo, México.
                        </li>
                        <li class="">
                            <i class="fas fa-user-clock margin-r-5"></i>
                            Horario de atención: 9:00 a.m. a 5:00 p.m.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-gray">
                    <hr />
                    &copy; Universidad Tecnológica de Tula Tepeji - <b>Incubadora</b>
                </div>
            </div>
        </div>
        @Html.Partial("_ControlSidebar")
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>