@model Incubadora.ViewModels.RecursoVM
    <div>
        @using (Html.BeginForm("Eliminar", "RecursoProyecto"))
        {
            @Html.AntiForgeryToken()
            <div class="bs-container">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        @Html.HiddenFor(model => model.Id, new { id = "Id" })
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Nombre del recurso</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.StrNombreRecurso, new { @class = "form-control input-sm", @placeholder = "Nombre del recurso", @readonly = "true", id = "StrNombreRecurso" })
                                    </td>

                                </tr>
                                <tr>
                                    <td>Nombre de la persona:</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.StrNombrePersona, new { @class = "form-control input-sm", @placeholder = "Nombre de la persona", @readonly = "true", required = "required", id = "StrNombrePersona" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>Apellido Paterno:</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.StrApellidoPaterno, new { @class = "form-control input-sm", @placeholder = "Apellido Paterno", @readonly = "true", required = "required", id = "StrApellidoPaterno" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>Apellido Materno:</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.StrApellidoPaterno, new { @class = "form-control input-sm", @placeholder = "Apellido Paterno", @readonly = "true", required = "required", id = "StrApellidoPaterno" })
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @*<input type="submit" id="btnActualizar" class="btn btn-sm btn-success pull-right" value="Actualizar" />*@
                                        <button type="submit" id="btnActualizar" class="btn btn-sm btn-danger pull-right">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
